<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <title>Gravatar Image (80×80)</title>
  </head>
 <!--<style>
    img {
      display: block;
      margin-left: 650px;
      margin-right: 650px;
      margin-top: 325px;
      margin-bottom: 325px;
    }
  </style>-->
  <body style="background: #0e0e0e;">
    <div class="container">
    <img class="img-responsive center-block" src="{{ user_image }}" style="margin-top: 325px;" alt="User Image">
    </div>
  </body>
</html>